@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  background: linear-gradient(
    62deg,
    rgb(21, 213, 235) 0%,
    rgb(255, 0, 191) 100%
  );
}

#content-main {
  text-align: center;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  max-width: 60%;
}

#btn-check {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: linear-gradient(
    62deg,
    rgb(21, 213, 235) 0%,
    rgb(255, 0, 191) 100%
  );
  color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

#input-date {
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.3rem;
}

#output {
  border: 1px solid black;
  width: 20rem;
  height: 5rem;
  padding: 1rem;
  margin: 0 auto;
  font-weight: bold;
  border-radius: 0.3rem;
}

footer {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  bottom: 0;
}

footer p {
  max-width: 80%;
  margin: auto;
  padding: 1rem 0rem;
}

.footer-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-li {
  display: inline;
  margin: 0 2rem;
}

.footer a {
  text-decoration: none;
}

@media (max-width: 700px) {
  #content-main {
    max-width: 100%;
  }
}
